p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header,
footer {
  background: #333;
  color: #fff;
}

footer{
  padding: 40px 0;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  float: left;
  margin-right: 15px;
  background: #555;
  padding: 10px;
  color: #fff;
}

.site-title{
  padding: 18px 0;
}

.site-title {
  margin: 0;
  line-height: 40px;
}

nav {
  position: relative;
}

.menu a {
  margin-right: 15px;
  display: flex;
  text-decoration: column;
  color: #383838;

}

main section {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}


footer div{
  padding: 0 30px;
}

@media (min-width: 768px) {


  .menu {
    flex-direction: row;
  }

  nav {
    position: absolute;
    padding: 10px 0;
    right: 0;
    top: 0;
    a {color: #fff;}
  }

  .table-section {
    order: 0;
  }
  .links {
    order: 0;
  }
  .form {
    order: 0;
  }
}
